{% extends 'base.html' %}
{% block title %}Activity Logs{% endblock %}

{% block body %}
<h2 id="act-logs">Activity Logs</h2>

<table class="log-table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>User</th>
      <th>Action</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
      <td>{{ log.user }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}