{% extends 'base.html' %}
{% block title %}Add-Patient{% endblock %}

{% block body %}
<div class="add-patient-div">
  <form method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required><br />
    <label>Date of Birth:</label><br>
    <input type="date" name="dob" required><br />
    
    <label for="sex">Sex:</label><br>
    <select name="sex" id="sex" required><br />
      <option value="">--- Select ---</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select><br><br>

    <label for="national_id">National-ID:</label><br/>
    <input type="text" name="national_id" id="national_id"><br />

    <label for="mch_number">MCH-Number</label><br/>
    <input type="text" name="mch_number" id="mch_number" required><br/>
  <button type="submit">Add Patient</button>
</form>
</div>
{% endblock %}