{% extends 'base.html' %}
{% block title %}Patient List{% endblock %}

{% block body %}
<div class="patient-list">
  <h2 id="reg-patients">Registered Patients</h2>

  <form method="POST" class="patient-list-form" >
    <input type="text" name="search" placeholder="Search patient by name" id="search-tab" value="{{ search_query or '' }}" />
    <button type="submit" id="search-btn">Search</button>
  </form>

  <h2>Patient List</h2>

  <table class="patient-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{ patient.id }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.sex }}</td>
        <td>
          <form action="{{ url_for('delete_patient', patient_id=patient.id) }}" method="POST" onsubmit="return confirm('Delete this patient?');">
            <button type="submit" class="icon-btn" title="Delete Patient">🗑️</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if not patients %}
    <p>No patients found.</p>
  {% endif %}
</div>

{% endblock %}
