
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
<div class="logintext"><h1>MCH Records Digitization System</h1></div>
<div class="loginform">
    <form method="POST" action="{{url_for('login')}}">
        
        <input name="username" type="text" placeholder="username"><br/>

        <input name="password" type="password" placeholder="password"><br/>

        <button type="submit">Login</button>
</form>
</div>

{% endblock %}
